# === GERAL ===
NODE_ENV=production

# === BANCO DE DADOS ===
DB_PORT=1111
POSTGRESQL_USERNAME=user
POSTGRESQL_PASSWORD=password
POSTGRESQL_DATABASE=database
DATABASE_URL="postgresql://user:password@db:5432/database?schema=public"

# === BACKEND (SERVER) ===
SERVER_PORT=0001
JWT_SECRET=example
CORS_ORIGIN=http://localhost:0000

# === FRONTEND (CLIENT) ===
CLIENT_PORT=0000
NEXT_PUBLIC_API_URL=http://localhost:0001
INTERNAL_API_URL=http://server:0001